body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

div {
    border: solid red 2px;
}

.header,
.container,
.footer {
    background-color: #1f2937;
    color: white
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}

.links {
    display: flex;
    gap: 20px;
}

.logo > h4 {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
}

.links > a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.container {
    display: flex;
    height: 400px;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
    justify-content: center;
    padding: 100px;
}

.top h1, .top p {
    margin: 0;
}

.placeholder-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin: 75px 200px;
}

.top > h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.some-information > h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 150px 315px;
    display: flex;
    flex-direction: column;
}

.quote > h1 {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    margin: 0;
}

.quote h1, .quote h3 {
    margin: 0;
}

.quote h3 {
    align-self: flex-end;
    padding-right: 50px;
}

.call-to-action,
button {
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
}

.call-to-action h4, .call-to-action p {
    margin: 0;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    margin: 75px;
    padding: 50px 100px;
}

button {
    font-weight: bold;
    padding: 5px 20px;
    width: 100px;
}

.top-button {
    border: none;
}

.bottom-button {
    border: 1px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    align-self: center;
}